<p id="notice"><%= notice %></p>

<h1>Listing Property Pictures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_pictures.each do |property_picture| %>
      <tr>
        <td><%= property_picture.name %></td>
        <td><%= image_tag(property_picture.url, alt: "Photo", width: "200px") %></td>
        <td><%= property_picture.property %></td>
        <td><%= link_to 'Show', property_picture %></td>
        <td><%= link_to 'Edit', edit_property_picture_path(property_picture) %></td>
        <td><%= link_to 'Destroy', property_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property picture', new_property_picture_path %>
