<p id="notice"><%= notice %></p>

<h1>Listing Interactions Types</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interactions_types.each do |interactions_type| %>
      <tr>
        <td><%= interactions_type.icon.html_safe %></td>
        <td><%= interactions_type.name %></td>
        <td><%= link_to 'Show', interactions_type %></td>
        <td><%= link_to 'Edit', edit_interactions_type_path(interactions_type) %></td>
        <td><%= link_to 'Destroy', interactions_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interactions type', new_interactions_type_path %>
